/* Fonts ---------------------------- */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}


/* Global ---------------------------- */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  color: var(--color);
  background-color: #0d112c; /* To cover OSes with no default background color */
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

a {
  color: var(--color-link);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 0 1px 1px 0;
}
th {
  background-color: hsla(0,0%,50%,.06);
}
th,
td {
  text-align: center;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 1px 0 0 1px;
}

svg {
  fill: currentColor;
}

/* Code */

code, kbd {
  font-family: 'Source Code Pro', monospace;
  border-radius: 4px;
  padding: 1px 4px;
  white-space: nowrap;
  color: hsl(0,0%,36%);
  background-color: hsla(0,0%,60%,.15);
}

pre, kbd {
  font-size: 13px;
  overflow: auto;
  padding: 1em;
  margin: 0;
  border-radius: 4px;
  border-color: var(--color-border);
  background-color: #0a0e21;
}

pre code {
  white-space: pre;
}

pre > .hljs {
  color: var(--color-subtle);
  background-color: #0b0c21;
  border: 1px solid #52bef4;
}

kbd {
  padding: 0.5em;
}


/* Utilities ---------------------------- */

.u-avoid-clicks {
  pointer-events: none;
}

/* Visually hidden, but will be read by screen readers */
.u-visible-to-screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.no-display {
  display: none;
}


/* Content ------------------ */

.content {
  flex: 1;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.content.is-shown {
  visibility: visible;;
  opacity: 1;
}


/* Hacks ---------------------------- */

/* Fixes horizontal scrolling in code blocks on OS X El Cap (10.11.3), retina screen
 *
 * By adding an invisible outline property, it will force a repaint
 * which enables the scrolling.
 */

.hljs:hover,
.hljs:active {
  outline: 1px solid transparent;
}


/* Downloaded from https://www.kode.to/ */
.code, .heart {
  display: inline-block;
  height: 0.75rem;
  margin: 0 .75rem;
  position: relative;
  width: 0.75rem;
}
.code::before, .code::after, .heart::before, .heart::after {
  content: "";
  display: block;
  position: absolute;
}
 
.code {
  border: .125rem solid royalblue;
  -webkit-transform: translateY(0.0625rem) scale(1.33) rotate(45deg);
          transform: translateY(0.0625rem) scale(1.33) rotate(45deg);
}
.code::before, .code::after {
  height: .375rem;
  width: .375rem;
  background-color: #0b0c21;
}
.code::before {
  top: -0.16rem;
  left: -0.16rem;
}
.code::after {
  right: -0.16rem;
  bottom: -0.16rem;
}
 
.heart {
  border-radius: 7.5%;
  background-color: currentColor;
  color: tomato;
  -webkit-transform: translateY(0.125rem) scale(0.9) rotate(-45deg);
          transform: translateY(0.125rem) scale(0.9) rotate(-45deg);
}
.heart::before, .heart::after {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: currentColor;
}
.heart::before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.heart::after {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
pre{
  background-color: #0e1231;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  margin-bottom: 10px;
  max-height: 600px;
  overflow: auto;
  padding: 5px;
  width: auto;
}

.wrapcode{
  white-space: pre-wrap;
}

#img-qr{
  width:256px;
  height:auto;
  color: #3a3a3a;
}

.centered {
  text-align: center;
}